params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}


process {
    executor = 'crg'
	  maxRetries = 2
    errorStrategy = "retry"
    queue = 'cn-el7'

    withLabel:process_low {
           queue = 'cn-el7,short-centos79'
           cpus = 1
           memory =  5.GB
           time =  1.h 
       }
    withLabel:process_medium{
           queue = 'cn-el7,short-centos79,long-centos79'
           cpus = 4
           memory =  12.GB
           time =  6.h 
       }
      withLabel:process_medium_high {

           queue = 'cn-el7,short-centos79,long-centos79'
           cpus = 16
           memory = 100.GB
           time = 10.h

    }
}


singularity {
  enabled = true
}

tower {
  accessToken = 'eyJ0aWQiOiA0NTQwfS43MjIxNGZkODA2NDc2MzJmMzI3MGY1ZTkxZTJlYjlmMzA3ODRiY2Zk'
  enabled = true
}