/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/msa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Profile for phylo3D structure retrieval'
    config_profile_description = 'Configuration for the retrieval of the structures for the phylo3d project'

    // Input data
    input                      = './assets/samplesheet_phylo3d.csv'
    db                         = './assets/dbsheet_cluster.csv'

    // mmseqs
    mmseqs_format_output       = "query,target,fident,alnlen,mismatch,qseq,tseq,qstart,qend,tstart,tend,evalue,bits,qcov,tcov"
    split_fasta                = true
    mmseqs_min_id              = 0.9
    mmseqs_min_cov             = 1 
    mmseqs_exact_kmer_matching = null
    mmseqs_cov_type            = 2 
    easy_search                = true

    skip_filter_hits           = false
    skip_download              = false
    rename_structures          = true

    min_id                     = 0.9
    min_cov                    = 1
   
    // Output directory
    // outdir = "/users/cn/lsantus/data/phylo3d_structures_af2db"
    outdir = "/users/cn/lsantus/data/OLD"
}
