/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/msa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = './assets/samplesheet.csv'
    db = './assets/dbsheet.csv'

    // mmseqs
    mmseqs_format_output       = "query,target,fident,alnlen,mismatch,gapopen,qstart,qend,tstart,tend,evalue,bits,qcov,tcov"
    split_fasta                = true
    mmseqs_min_id              = 0.9
    mmseqs_min_cov             = 1 
    mmseqs_exact_kmer_matching = null
    mmseqs_cov_type            = 2 

    skip_filter_hits           = false
    skip_download              = false
    rename_structures          = true

    min_id                     = 1 
    min_cov                    = 1
   
    // Output directory
    outdir = "./outdir/"

}
