id,fasta
aadh,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/aadh.fa
aat,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/aat.fa
ace,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ace.fa
Acetyltransf,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/Acetyltransf.fa
adh,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/adh.fa
aldosered,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/aldosered.fa
Ald_Xan_dh_2,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/Ald_Xan_dh_2.fa
annexin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/annexin.fa
asp,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/asp.fa
az,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/az.fa
biotin_lipoyl,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/biotin_lipoyl.fa
blmb,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/blmb.fa
blm,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/blm.fa
bowman,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/bowman.fa
cah,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/cah.fa
ChtBD,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ChtBD.fa
cryst,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/cryst.fa
cyclo,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/cyclo.fa
cys,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/cys.fa
cyt3,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/cyt3.fa
cytb,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/cytb.fa
DEATH,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/DEATH.fa
DMRL_synthase,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/DMRL_synthase.fa
egf,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/egf.fa
flav,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/flav.fa
GEL,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/GEL.fa
ghf10,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ghf10.fa
ghf11,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ghf11.fa
ghf13,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ghf13.fa
ghf1,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ghf1.fa
ghf22,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ghf22.fa
ghf5,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ghf5.fa
glob,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/glob.fa
gluts,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/gluts.fa
gpdh,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/gpdh.fa
hip,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/hip.fa
hla,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/hla.fa
HLH,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/HLH.fa
HMG_box,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/HMG_box.fa
hom,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/hom.fa
hormone_rec,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/hormone_rec.fa
hpr,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/hpr.fa
hr,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/hr.fa
icd,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/icd.fa
il8,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/il8.fa
ins,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ins.fa
int,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/int.fa
KAS,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/KAS.fa
kringle,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/kringle.fa
kunitz,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/kunitz.fa
ldh,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ldh.fa
LIM,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/LIM.fa
ltn,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ltn.fa
lyase_1,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/lyase_1.fa
mmp,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/mmp.fa
mofe,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/mofe.fa
msb,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/msb.fa
myb_DNA-binding,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/myb_DNA-binding.fa
OTCace,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/OTCace.fa
oxidored_q6,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/oxidored_q6.fa
p450,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/p450.fa
PDZ,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/PDZ.fa
peroxidase,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/peroxidase.fa
phc,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/phc.fa
phoslip,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/phoslip.fa
profilin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/profilin.fa
proteasome,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/proteasome.fa
Rhodanese,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/Rhodanese.fa
rhv,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/rhv.fa
ricin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/ricin.fa
rnasemam,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/rnasemam.fa
rrm,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/rrm.fa
rub,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/rub.fa
rvp,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/rvp.fa
scorptoxin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/scorptoxin.fa
sdr,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/sdr.fa
seatoxin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/seatoxin.fa
serpin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/serpin.fa
slectin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/slectin.fa
sodcu,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/sodcu.fa
sodfe,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/sodfe.fa
Stap_Strp_toxin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/Stap_Strp_toxin.fa
sti,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/sti.fa
subt,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/subt.fa
Sulfotransfer,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/Sulfotransfer.fa
test,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/test.fa
tgfb,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/tgfb.fa
tim,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/tim.fa
tms,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/tms.fa
TNF,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/TNF.fa
toxin,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/toxin.fa
trfl,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/trfl.fa
tRNA-synt_2b,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/tRNA-synt_2b.fa
uce,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/uce.fa
zf-CCHH,/users/cn/lsantus/data/structural_regression/homfam/combinedSeqs/zf-CCHH.fa
